<!DOCTYPE html>
  <html>
  <head>
    <title>Professional Resume</title>
    

  <body background="background2.jpg";>
    <div>
   <img src="Profile Pic.jpg" alt="avatar" class="avatar" height="200" width="200"></div>
  <style>
  img {
    border-radius: 50% ;
    float: left;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

  }
  div{
    width: 1200px;
    margin: auto;
    border-style: groove;
    
  }

</style>
</body>
</head>
    </div>

        <div style ="text-align: center">
        <div style ="background-color: mintcream">
        <font face = "Verdana" size = "14">John Kavin R. Merontos</font><br />
        <p>Brgy. 37-D Trading Boulevard, Davao City, Davao del Sur<br>
        09482595004<br>
        <a href="johndvin05@gmail.com">johndvin05@gmail.com<br><br>
      </div><hr>
    </a>
  </p>
      </div>
        <div>
            <div style ="background-color: mintcream">
             <font face = "Geneva" size = "6">Objectives:</font><br />
         
        
          <p>Secure an internship position for summer 2018 and that will allow me to utilize my  knowledge and experience  to ensure company's success.</p>
        </div><hr>

       <div>
            <div style ="background-color: mintcream">
             <font face = "Geneva" size = "6">Educational Background:</font><br />

<p>
Bachelor of Science of Information Technology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third Year Level <br>
Institute of Computing<br>
University of Southeastern Philippines - Obrero<br>
263 Iñigo St, Obrero, Davao City, Davao del Sur<br><br>
</p>

     
            
          </div><hr>

        <div>
            <div style ="background-color: mintcream">
             <font face = "Geneva" size = "6">Skills:</font><br />
    
            <p>
                    Proficient in using Microsoft Office Apllication(Word, Excel,Powerpoint)<br>

     Experience in Animation (Adobe Flash)<br>

       Experience in Web Development and Database (HTML,CSS,Php, MYSQL)<br>

      Knowledge in creating a website/E-commerce <br>

       Embodies punctuality at all times<br>

        Can do multi-tasking skills<br>

      Can work well with other people<br><br>
</p>
            </ul>
          </div><hr>
        <div>
            <div style ="background-color: mintcream">
             <font face = "Geneva" size = "6">Activities:</font><br />
      
      <p>
       Mindanao Conference of Information Technology Students (MCITS)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December 03,2010</pre><br>
        Philippine Society of Information Technology Educators (PSITE-XI)<br>
        UIC Main Campus, Father Selga St., Davao City. <br><br>
       Participant, Graphic Design Conference (Graphicon) 2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December 10,2016<br>
          The Davao United Association of Animators and Designers (DUAAD)<br>
          CAP Auditorium , 37 Iñigo St, Poblacion District, Davao City<br><br>
        </p>
 

        </div><hr>
          <div>
           <div style ="background-color: mintcream">
             <font face = "Geneva" size = "6">Professional Reference:</font><br />
          <body>
          <p>
          Dr. Val A. Quimno<br>
          Program Head, Institute of Computing<br>
          University of Southeastern Philippines<br>
          227-8192 loc 276<br><br>

          Engr. Jamal Kay B. Rogers<br>
          Research Head, Institute of Computing<br>
          University of Southeastern Philippines<br>
          227-8192 loc 276<br>
        </p>
      </body>
    </div>
        </body>
  </body>
</html>