<!DOCTYPE html>
  <html>
  <head>
    <title>Professional Resume</title>
    

  <body background="background.jpg";>
    <div>
   <img src="Profile Pic.jpg" alt="avatar" class="avatar" height="250" width="150"></div>
  <style>
  img {
    border-radius: 50% ;
    float: left;
  }
  p{
    font-family: "Times New Roman", Times, Serif;
    font-size: 21px;
  }
  div{
    width: 1290px;
    margin: auto;
    
  }

</style>
</body>
</head>
    </div>
        <div style ="text-align: center">
        <div style ="background-color: lightskyblue">
        <h1>John Kavin R. Merontos</h1>
        <p>Brgy. 37-D Trading Boulevard, Davao City, Davao del Sur</p>
        <p>09482595004</p>
        <a href="johndvin05@gmail.com">johndvin05@gmail.com</a>
      </div><hr>
      </div>
        <div>
           <div style="background-color: lightskyblue; color: black; padding: 5px;">
            <h2>Objectives:</h2>
         
        
          <p>Secure an internship position for summer 2018 and that will allow me to utilize my  knowledge and experience  to ensure company's success.</p>

        </div><hr>

       <div>
            <div style="background-color: lightskyblue; color: black; padding: 5px;">
            <h2>Educational Background:</h2>

<p>
Bachelor of Science of Information Technology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third Year Level <br>
Institute of Computing<br>
University of Southeastern Philippines - Obrero<br>
263 Iñigo St, Obrero, Davao City, Davao del Sur<br><br>
</p>

     
            
          </div><hr>

        <div>
            <div style="background-color: lightskyblue; color: black; padding: 5px;">
            <h2>Skills:</h2>
    
            <ul>
        <li>Proficient in using Microsoft Office Apllication(Word, Excel,Powerpoint)</li>
        <li>Experience in Animation (Adobe Flash)</li>
        <li>Experience in Web Development and Database (HTML,CSS,Php, MYSQL)</li>
        <li>Knowledge in creating a website/E-commerce </li>
        <li>Embodies punctuality at all times</li>
        <li>Can do multi-tasking skills</li>
        <li>Can work well with other people</li>

            </ul>
          </div><hr>
        <div>
            <div style="background-color: lightskyblue; color: black; padding: 5px;">
           <h2>Activities:</h2>
      
      <p>
       Mindanao Conference of Information Technology Students (MCITS)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December 03,2010</pre><br>
        Philippine Society of Information Technology Educators (PSITE-XI)<br>
        UIC Main Campus, Father Selga St., Davao City. <br><br>
       Participant, Graphic Design Conference (Graphicon) 2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;December 10,2016<br>
          The Davao United Association of Animators and Designers (DUAAD)<br>
          CAP Auditorium , 37 Iñigo St, Poblacion District, Davao City<br><br>
        </p>
 

        </div><hr>
          <div>
            <div style="background-color: lightskyblue; color: black; padding: 5px;">
          <h2>Professional Reference:</h2>
          <body>
          <p>
          Dr. Val A. Quimno<br>
          Program Head, Institute of Computing<br>
          University of Southeastern Philippines<br>
          227-8192 loc 276<br><br>

          Engr. Jamal Kay B. Rogers<br>
          Research Head, Institute of Computing<br>
          University of Southeastern Philippines<br>
          227-8192 loc 276<br>
        </p>
      </body>
    </div>
        </body>
  </body>
</html>